<style>
    body{background:white
    
    }
    h1,p {position:fixed 'Verdana' } 
    img {position:fixed
    
    
    }
    
    .center{
    margin:auto;
     width: 50%; 
    border: 1px solid; 
    padding:20px;
    opacity:0.1;
    }
    
    
    
    
    </style>
          